body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #1E2026;
}

header {
    height: 70px;
    width: 100%;
    background-color: #383940;
}

.corpo_principal {
    width: 1440px;
    height: auto;
    margin: 0px auto;
}

.container_img_bg {
    width: 1440px;
    height: 150px;
    margin: 0px auto;
}

.img_bg {
    object-fit: cover;
    object-position: 100% 0;
    width: 1440px;
    height: 150px;

}

.container_img_colecao {
    height: 133px;
    width: 133px;
    display: inline-block;
    position: absolute;
    margin-top: -60px;
    margin-left: 650px;
}

.img_colecao {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.info_itens {
    display: inline-block;
    position: relative;
    height: 60px;
    width: 400px;
    margin-top: 43px;
    min-width: 350px;
}

.info_itens div {
    display: inline-block;
    text-align: center;
    color: white;
    margin-right: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.info_superior {
    font-size: 28px;
    font-weight: bold;
}

.info_inferior {
    font-size: 14px;
    margin-top: 5px;
}

.info_colecao {
    display: inline-block;
    position: relative;
    vertical-align: sub;
    height: 80px;
    width: 310px;
    margin-top: 70px;
    margin-left: 158px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    min-width: 310px;
}

.nome {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}

.sub_nome {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.dono {
    color: #0074C9;
}

.redes_sociais {
    display: inline-block;
    position: relative;
    list-style: none;
    float: right;
    margin-top: 85px;
    filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.2));
}

.redes_sociais li {
    display: inline-block;
    margin-right: 10px;
}

.descricao {
    height: 70px;
    width: 1315px;
    margin: 15px auto;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
}

.titulo_inventario {
    display: inline-block;
    color: white;
    height: 50px;
    width: 80px;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 50;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-top: 40px;
    margin-left: 173px;
    border-bottom: solid 2px white;
}

.barra_pesquisa input {
    display: absolute;
    float: right;
    margin-top: -60px;
    height: 30px;
    width: 836px;
    margin-left: 10px;
    border: solid 1px #1A1B1C;
    border-radius: 60px;
    padding: 15px;
    background-color: #1A1B1C;
}

.barra_pesquisa ::placeholder {
    color: #3D3D3D;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.barra_pesquisa input:focus {
    color: white;
    outline: none;
}

.inventario {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: 750px;
    padding-top: 50px;
}

.container_nft_detalhes {
    display: inline-block;
    width: 240px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 15px;
}

.box_nft {
    display: inline-block;
    position: relative;
    height: 240px;
    width: 240px;
}

.nft {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container_detalhes_nft {
    display: inline-block;
    position: relative;
    height: 110px;
    width: 240px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container_detalhes_nft p {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 15px;

}

.nome_colecao {
    display: block;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 300;
}

.nome_nft {
    display: block;
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
}

.id_nft {
    display: block;
    padding-top: 3px;
    font-weight: bold;
    font-size: 17px;
}

.valor_nft {
    display: block;
    padding-top: 10px;
    font-size: 15px;
}

.preco_nft {
    float: right;
    padding-right: 25px;
    font-size: 15px;
}